<h1>Instructions</h1>
<br>
<font size="+1">
    <ul>
        <li><b>Recommended Steps</b></li>
        <br>
        <ol>
            <li>Read the prompt and summarize the task in your own words, using as few words as possible for ease of comprehension.</li>
            <br>
            <li>Pretend to be the computer program that you are trying to create. Examine the smaple inputs and manually produce the appropriate results. Afterward, verify the correctness of your logic by comparing with the given sample outputs.</li>
            <br>
            <li>On a scrap piece of paper, write step-by-step instructions so that someone else can pretend to be the computer program and produce the appropriate results for any possible inputs. These instructions should target a human audience who does not know the problem description and only has your instructions as a guide. These instructions should serve as the roadmap for your code.</li>
            <br>
            <li>On another scrap piece of paper, write fragments of Python code to implement each step in your roadmap, focusing especially on the trickiest parts of the logic.</li>
            <br>
            <li>With your roadmap and code fragments from the previous steps, type Python code into a new Jupyter notebook cel to solve the given problem. You should type incrementally and run the code whenever you add a small chunk. This allows you to correct errors as they occur. It may also be helpful to print intermediate results to verify that the code is carrying out the logic as desired.</li>
            <br>
            <li>Run your code with some sample inputs and verify that the outputs are exactly the same as the sample outputs.</li>
            <br>
            <li>Once all of your problems are finished, it is useful to click <i>Kernel</i> $\rightarrow$ <i>Restart & Run All</i> to verify that your outputs for all of your problems continue to be correct. This helps to ensure that someone else will be able to replicate your results when running your notebook.</li>
            <br>
            <li style="color:red">Submit the <i>.ipynb</i> file on TurnItIn on Blackboard by the deadline. Be sure to refresh the page and double check your submission actually went through. <b>Note that you only need to submit your solutions, not all of the other recommended steps.</b> The recommended steps are meant to serve as a guide for your thinking process.</li>
            <br>
        </ol>
        <br>
        <hr style="border: 10px solid black">
        <br>
        <li><b>Grading</b></li>
        <br>
        <li>There are four possible scores you can get from submitting this assignment on time (submitting a blank file or one without any apparent effort does not count). Note that the rubric is designed to incentivize you to go for $100%$ mastery of the material, as the little details matter in programming.</li>
        <br>
        <ul>
            <li>Grade of $5$ out of $5$ - perfect submission with no significant errors</li>
            <br>
            <li>Grade of $4$ out of $5$ - near perfect submission with one or more significant errors</li>
            <br>
            <li>Grade of $2$ out of $5$ - apparent effort but far from perfect</li>
            <br>
            <li>Grade of $0$ out of $5$ - no submission or no apparent effort</li>
            <br>
        </ul>
    </ul>
</font>

<hr style="border: 20px solid black">

<h1>Before You Begin</h1>
<br>
<font size="+1">
    <ul>
        <li>Please read: <b>03_Intro_to_Python.ipynb</b></li>
        <br>
    </ul>
</font>

<hr style="border: 20px solid black">

<h1>Questions</h1>

<h1>Lists</h1>

<h2>Create a list named <i>food</i> with two elements: <i>"rice"</i> and <i>"potatoes"</i>.</h2>

In [16]:
food = ["rice","potatoes"]

<h2>Append the string <i>"broccoli"</i> to <i>food</i> using <i>.append()</i>.</h2>

In [17]:
food.append("broccoli")

<h2>Add the strings <i>"bread"</i> and <i>"pizza"</i> to <i>food</i> using <i>.append()</i>.</h2>

In [18]:
food.append("bread")
food.append("pizza")

<h2>Print the first two items in the <i>food</i> list using slicing.</h2>

In [20]:
print(food[0:2])

['rice', 'potatoes']

<h2>Print the last item in <i>food</i> using indexing.</h2>

In [19]:
print(food[-1])

pizza

<h2>Create a list called <i>breakfast</i> from the string <i>"eggs, fruit, orange juice"</i> using the <i>.split()</i> method.</h2>

In [6]:
string = "eggs, fruit, orange juice"
string = string.split(",")
breakfast = list(string)

<h2>Verify that <i>breakfast</i> has three items and is a list using <i>len()</i> and <i>type()</i></h2>

In [ ]:
print(len(breakfast))

3

In [ ]:
print(type(breakfast))

<class 'list'>

<h2>Create a new list called <i>lengths</i> using a list comprehension that contains the lengths of each string in the <i>breakfast</i> list.</h2>

In [1]:
lengths = []

In [9]:
for i in range(0,len(breakfast)):
  lengths.append(len(breakfast[i]))

<h1>Dictionaries</h1>

<h2>Create an empty dictionary named <i>dual_class_stock_price</i>.</h2>

In [8]:
dual_class_stock_price = {}

<h2>Using "square bracket" notation, enter the following data into the dictionary one item at a time:</h2>

<ul>
    <li>"GOOGL": "2,952.77"</li>
    <li>"GOOG": "2,962.12"</li>
    <br>
    <li>"BRK.A": "428,402.00"</li>
    <li>"BRK.B": "284.52"</li>
    <br>
    <li>"AAC": "9.78"</li>
    <li>"AAC.U": "9.98"</li>
    <br>
    <li>"YUM": "133.12"</li>
    <li>"YUMC": "51.34"</li>
    <br>
    <li>"HVT": "31.12"</li>
    <li>"HVT.A": "31.26"</li>
</ul>

In [12]:
dual_class_stock_price = {"GOOGL":"2952.77","GOOG":"2962.12","BRK.A":"428,402.00","BRK.B":"284.52","AAC":"9.78",
              "ACC.U":"9.98","YUM":"133.12","YUMC":"51.34","HVT":"31.12","HVT.A":"31.26"}

In [13]:
print(dual_class_stock_price)

{'GOOGL': '2952.77', 'GOOG': '2962.12', 'BRK.A': '428,402.00', 'BRK.B': '284.52', 'AAC': '9.78', 'ACC.U': '9.98', 'YUM': '133.12', 'YUMC': '51.34', 'HVT': '31.12', 'HVT.A': '31.26'}

<h2>Write two <i>if</i> statements to check if <i>"GOOG"</i> and <i>"GOOG.A"</i> exist as keys in the dictionary. Set their values to <i>"Not a valid ticker"</i> if the key doesn't exist.</h2>

In [21]:
if "GOOG" in dual_class_stock_price.keys():
  print("The key exists")
else:
  print("Not a valid ticker")

The key exists

In [22]:
if "GOOG.A" in dual_class_stock_price.keys():
  print("The key exists")
else:
  print("Not a valid ticker")

Not a valid ticker

<h2>Write a <i>for</i> loop to display the ticker and price contained in the dictionary.</h2>

The output should look something like this:

<i>Ticker BRK.A had a price of \$428,402.00.</i>

In [25]:
for k,v in dual_class_stock_price.items():
  print("Ticker " + k + " has a price of $ " + v)

Ticker GOOGL has a price of $ 2952.77
Ticker GOOG has a price of $ 2962.12
Ticker BRK.A has a price of $ 428,402.00
Ticker BRK.B has a price of $ 284.52
Ticker AAC has a price of $ 9.78
Ticker ACC.U has a price of $ 9.98
Ticker YUM has a price of $ 133.12
Ticker YUMC has a price of $ 51.34
Ticker HVT has a price of $ 31.12
Ticker HVT.A has a price of $ 31.26

<h1>Iteration</h1>

<h2>Write a <i>for</i> loop that prints out the integers 2 through 10, each on a new line, using <i>range()</i></h2>

In [29]:
for i in range(2,11):
  print(i)

2
3
4
5
6
7
8
9
10

<h2>Write a <i>while</i> loop that prints out the integers 2 through 10 (you'll need to create a new integer first)</h2>

In [30]:
f = 2
while f <= 10:
  print(f)
  f += 1

2
3
4
5
6
7
8
9
10

<h2>Write a function called <i>doubles()</i> that takes a number as its input and doubles it. Then use <i>doubles()</i> in a loop to double the number 2 three times, displaying each result on a separate line.</h2>
<br>
For example, sample output should look like:
<br>
4
<br>
8
<br>
16
<br>

In [35]:
def doubles(number):
  return number*2
time = 0
num = 2
while time <3:
  num = doubles(num)
  print(num)
  time += 1

4
8
16

<h2>Track Your Investments</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that tracks the growing amount of an investment over time.</li>
        <br>
        <ul>
            <li>The inital deposit for an investment is called the principal amount.</li>
            <br>
            <li>Each year the amount increases by a fixed percentage, called the annual rate of return.</li>
            <br>
        </ul>
        <li>Assume a principal amount of $\$100,000$ with an annual rate of return of $5\%$.</li>
        <br>
        <li>Write a function called <i>invest</i> with three arguments:</li>
        <br>
        <ul>
            <li>the principal amount,</li>
            <br>
            <li>the annual rate of return,</li>
            <br>
            <li>the number of years to calculate.</li>
            <br>
            <li>The function signature could look something like this <i>def invest(amount, rate, years):</i></li>
            <br>
        </ul>
        <li>The function should then print out the amount of the investment, rounded to two decimal places, at the end of each year for the specified number of years.</li>
        <br>
        <li>For example, calling <i>invest(100, 0.05, 4)</i> should print the following:
        <br>
        <br>
        year 1: \$105.00
        <br>
        year 2: \$110.25
        <br>
        year 3: \$115.76
        <br>
        year 4: \$121.55
        </li>
        <br>
        <li>Call this function for a principal amount of 200, with an annual rate of return of 9%, over the course of 11 years.</li>
        <br>
    </ul>
</font>

In [39]:
def invest(amount,rate,years):
  year = 0
  while year < years:
    year += 1
    final = amount*(1+rate)**year
    format = "{:.2f}".format(final)
    print("year" + str(year) + ": " + str(format))

In [40]:
finalamount = invest(200,0.09,11)

year1: 218.00
year2: 237.62
year3: 259.01
year4: 282.32
year5: 307.72
year6: 335.42
year7: 365.61
year8: 398.51
year9: 434.38
year10: 473.47
year11: 516.09

<h1>Control Flow</h1>

<h2>Write a program that takes a given number and if the number equals 10, then the program should display <i>"You win!"</i> and if the number is not 10 then it should display <i>"I'm sorry, that's the wrong number."</i></h2>

In [45]:
num = int(input("Give me a number:"))
if num == 10:
  print("You win!")
else:
  print("I'm sorry, that's the wrong number.")

Give me a number:9
I'm sorry, that's the wrong number.

<h2>Write a program that compares the length of the words <i>"Product", "Data", "Sales"</i> to the number five.</h2>
<br>
<font size="+1">
    <ul>
        <li>The program should display one of the following outputs depending on the word:</li>
        <br>
        <ul>
            <li><i>"This word is less than 5 characters long."</i></li>
            <li><i>"This word is more than 5 characters long."</i></li>
            <li><i>"This word is 5 characters long."</i></li>
            <br>
        </ul>
    </ul>
</font>

In [46]:
def comparsion(word):
  if len(word) < 5:
    print("This word is less than 5 characters long.")
  elif len(word) > 5:
    print("This word is more than 5 character long.")
  else:
    print("This word is 5 characters long.")
comparsion("Product")
comparsion("Data")
comparsion("Sales")

This word is more than 5 character long.
This word is less than 5 characters long.
This word is 5 characters long.

<h2>Find the Factors of a Number</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that finds the factors of a positive whole number.</li>
        <br>
        <li>A factor of a positive number is any positive number less than or equal to itself that divides the number with no remainder.</li>
        <br>
        <li>For example, 3 is a factor of 12 because 12 / 3 = 4 with no remainder. However, 5 is not a factor of 12 because 12 / 5 = 2 with a remainder of 2. </li>
        <br>
        <li>Write a program that takes a positive number and then prints out the factors of that number.</li>
        <br>
        <li>Sample output for the positive number of 12 should look like:</li>
        <br>
        <ul>
            <li>1 is a factor of 12.</li>
            <li>2 is a factor of 12.</li>
            <li>3 is a factor of 12.</li>
            <li>4 is a factor of 12.</li>
            <li>6 is a factor of 12.</li>
            <li>12 is a factor of 12.</li>
            <br>
        </ul>
        <li style="color:red">You should use the $\%$ operator to get the remainder of dividing one number by another.</li>
        <br>
    </ul>
</font>

In [47]:
def factors(number):
  list = []
  for i in range(1,number+1):
    if number%i == 0:
      list.append(i)
  for i in list:
    print(str(i)+ " is a factor of " + str(number))
factors(12)

1 is a factor of 12
2 is a factor of 12
3 is a factor of 12
4 is a factor of 12
6 is a factor of 12
12 is a factor of 12

<h1>Functions</h1>
<br>
<font size="+1" style="color:red">
    Be sure to document (comment) your functions!
</font>

<h2>Create a function calculates the mean of a list of numbers using only basic arithmetic, not list methods.</h2>

In [54]:

def mean(list):
  sum = 0
  for i in list:
    sum += i
  ave = sum/len(list)
  return ave
list = [12,19,29]
mean(list)

20.0

<h2>Write a function that returns the first and last elements of a given string in the form of a new string with only two characters. Return a statement if the given string has less than two characters.</h2>

In [58]:
def chara2(word):
  if len(word) >2:
    return word[0]+word[-1]
  else:
    return "string has less than two characters."
chara2("sample")

'se'

<h2>Convert Temperatures</h2>
<br>
<font size="+1">
    <ul>
        <li>The goal of this exercise is to write a program that defines two functions:</li>
        <br>
        <ul>
            <li><i>convert_celsius_to_fahrenheit()</i> that takes one <i>float</i> argument representing degrees Celsius and returns a <i>float</i> representing the same temperature in degrees Fahrenheit using the formula
            $$
            F = C \times \frac{9}{5} + 32,
            $$</li>
            <br>
            <li><i>convert_fahrenheit_to_celsius()</i> that takes one <i>float</i> argument that represents degrees Fahrenheit and returns a <i>float</i> representing the same temperature in degrees Celsius using the formula
            $$
            C = (F-32) \times \frac{5}{9}.
            $$</li>
            <br>
        </ul>
        <li>The program should display all converted temperatures rounded to two decimal places.</li>
        <br>
        <li>The program should be able to run the following:</li>
        <br>
        <ul>
            <li><i>convert_celsius_to_fahrenheit(37)</i> should return <i>37 degrees C = 98.60 degrees F</i></li>
            <br>
            <li><i>convert_fahrenheit_to_celsius(72)</i> should return <i>72 degrees F = 22.22 degrees C</i></li>
            <br>
        </ul>
    </ul>
</font>

In [63]:
def convert_celsius_to_fahrenheit(celsius):
  fahrenheit = celsius*(9/5)+32
  fahrenheit = "{:.2f}".format(fahrenheit)
  return str(celsius) + " degrees C = " + str(fahrenheit) + " degrees F"

degree = float(input("enter a number for celsius:"))
convert_celsius_to_fahrenheit(degree)

enter a number for celsius:37

'37.0degrees C = 98.60degrees F'

In [67]:

def convert_fahrenheit_to_celsius(fahrenheit):
  celsius = (fahrenheit-32)*(5/9)
  celsius = "{:.2f}".format(celsius)
  return str(fahrenheit) + " degrees F = " + str(celsius) + " degree C"
degree = float(input("enter a number for fahrenheit:"))
convert_fahrenheit_to_celsius(degree)

enter a number for fahrenheit:72

'72.0 degrees F = 22.22 degree C'